/* Slick slider styles */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.slick-arrow, .slick-arrow:hover, .text-gallery__tab, .text-gallery__tab.slick-current, a.btn, a.btn_primary:hover, a.btn_secondary:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

.df-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (min-width: 480px) {
    .df-row.df-rr-ph {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }
  @media (min-width: 480px) {
    .df-row.df-aic-ph {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (min-width: 768px) {
    .df-row.df-rr-sm {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }
  @media (min-width: 768px) {
    .df-row.df-aic-sm {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (min-width: 1024px) {
    .df-row.df-rr-md {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }
  @media (min-width: 1024px) {
    .df-row.df-aic-md {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (min-width: 1300px) {
    .df-row.df-rr-lg {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }
  @media (min-width: 1300px) {
    .df-row.df-aic-lg {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (min-width: 1440px) {
    .df-row.df-rr-xl {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }
  @media (min-width: 1440px) {
    .df-row.df-aic-xl {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (min-width: 480px) {
    .df-row .col-ph-1 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 1);
              flex: 1 0 calc(100% / 12 * 1);
      max-width: calc(100% / 12 * 1); } }
  @media (min-width: 480px) {
    .df-row .col-ph-2 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 2);
              flex: 1 0 calc(100% / 12 * 2);
      max-width: calc(100% / 12 * 2); } }
  @media (min-width: 480px) {
    .df-row .col-ph-3 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 3);
              flex: 1 0 calc(100% / 12 * 3);
      max-width: calc(100% / 12 * 3); } }
  @media (min-width: 480px) {
    .df-row .col-ph-4 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 4);
              flex: 1 0 calc(100% / 12 * 4);
      max-width: calc(100% / 12 * 4); } }
  @media (min-width: 480px) {
    .df-row .col-ph-5 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 5);
              flex: 1 0 calc(100% / 12 * 5);
      max-width: calc(100% / 12 * 5); } }
  @media (min-width: 480px) {
    .df-row .col-ph-6 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 6);
              flex: 1 0 calc(100% / 12 * 6);
      max-width: calc(100% / 12 * 6); } }
  @media (min-width: 480px) {
    .df-row .col-ph-7 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 7);
              flex: 1 0 calc(100% / 12 * 7);
      max-width: calc(100% / 12 * 7); } }
  @media (min-width: 480px) {
    .df-row .col-ph-8 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 8);
              flex: 1 0 calc(100% / 12 * 8);
      max-width: calc(100% / 12 * 8); } }
  @media (min-width: 480px) {
    .df-row .col-ph-9 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 9);
              flex: 1 0 calc(100% / 12 * 9);
      max-width: calc(100% / 12 * 9); } }
  @media (min-width: 480px) {
    .df-row .col-ph-10 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 10);
              flex: 1 0 calc(100% / 12 * 10);
      max-width: calc(100% / 12 * 10); } }
  @media (min-width: 480px) {
    .df-row .col-ph-11 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 11);
              flex: 1 0 calc(100% / 12 * 11);
      max-width: calc(100% / 12 * 11); } }
  @media (min-width: 480px) {
    .df-row .col-ph-12 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 12);
              flex: 1 0 calc(100% / 12 * 12);
      max-width: calc(100% / 12 * 12); } }
  @media (min-width: 480px) {
    .df-row .col-offset-ph-0 {
      margin-left: calc(100% / 12 * 0); } }
  @media (min-width: 480px) {
    .df-row .col-offset-ph-1 {
      margin-left: calc(100% / 12 * 1); } }
  @media (min-width: 480px) {
    .df-row .col-offset-ph-2 {
      margin-left: calc(100% / 12 * 2); } }
  @media (min-width: 480px) {
    .df-row .col-offset-ph-3 {
      margin-left: calc(100% / 12 * 3); } }
  @media (min-width: 480px) {
    .df-row .col-offset-ph-4 {
      margin-left: calc(100% / 12 * 4); } }
  @media (min-width: 480px) {
    .df-row .col-offset-ph-5 {
      margin-left: calc(100% / 12 * 5); } }
  @media (min-width: 480px) {
    .df-row .col-offset-ph-6 {
      margin-left: calc(100% / 12 * 6); } }
  @media (min-width: 480px) {
    .df-row .col-offset-ph-7 {
      margin-left: calc(100% / 12 * 7); } }
  @media (min-width: 480px) {
    .df-row .col-offset-ph-8 {
      margin-left: calc(100% / 12 * 8); } }
  @media (min-width: 480px) {
    .df-row .col-offset-ph-9 {
      margin-left: calc(100% / 12 * 9); } }
  @media (min-width: 480px) {
    .df-row .col-offset-ph-10 {
      margin-left: calc(100% / 12 * 10); } }
  @media (min-width: 480px) {
    .df-row .col-offset-ph-11 {
      margin-left: calc(100% / 12 * 11); } }
  @media (min-width: 768px) {
    .df-row .col-sm-1 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 1);
              flex: 1 0 calc(100% / 12 * 1);
      max-width: calc(100% / 12 * 1); } }
  @media (min-width: 768px) {
    .df-row .col-sm-2 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 2);
              flex: 1 0 calc(100% / 12 * 2);
      max-width: calc(100% / 12 * 2); } }
  @media (min-width: 768px) {
    .df-row .col-sm-3 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 3);
              flex: 1 0 calc(100% / 12 * 3);
      max-width: calc(100% / 12 * 3); } }
  @media (min-width: 768px) {
    .df-row .col-sm-4 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 4);
              flex: 1 0 calc(100% / 12 * 4);
      max-width: calc(100% / 12 * 4); } }
  @media (min-width: 768px) {
    .df-row .col-sm-5 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 5);
              flex: 1 0 calc(100% / 12 * 5);
      max-width: calc(100% / 12 * 5); } }
  @media (min-width: 768px) {
    .df-row .col-sm-6 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 6);
              flex: 1 0 calc(100% / 12 * 6);
      max-width: calc(100% / 12 * 6); } }
  @media (min-width: 768px) {
    .df-row .col-sm-7 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 7);
              flex: 1 0 calc(100% / 12 * 7);
      max-width: calc(100% / 12 * 7); } }
  @media (min-width: 768px) {
    .df-row .col-sm-8 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 8);
              flex: 1 0 calc(100% / 12 * 8);
      max-width: calc(100% / 12 * 8); } }
  @media (min-width: 768px) {
    .df-row .col-sm-9 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 9);
              flex: 1 0 calc(100% / 12 * 9);
      max-width: calc(100% / 12 * 9); } }
  @media (min-width: 768px) {
    .df-row .col-sm-10 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 10);
              flex: 1 0 calc(100% / 12 * 10);
      max-width: calc(100% / 12 * 10); } }
  @media (min-width: 768px) {
    .df-row .col-sm-11 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 11);
              flex: 1 0 calc(100% / 12 * 11);
      max-width: calc(100% / 12 * 11); } }
  @media (min-width: 768px) {
    .df-row .col-sm-12 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 12);
              flex: 1 0 calc(100% / 12 * 12);
      max-width: calc(100% / 12 * 12); } }
  @media (min-width: 768px) {
    .df-row .col-offset-sm-0 {
      margin-left: calc(100% / 12 * 0); } }
  @media (min-width: 768px) {
    .df-row .col-offset-sm-1 {
      margin-left: calc(100% / 12 * 1); } }
  @media (min-width: 768px) {
    .df-row .col-offset-sm-2 {
      margin-left: calc(100% / 12 * 2); } }
  @media (min-width: 768px) {
    .df-row .col-offset-sm-3 {
      margin-left: calc(100% / 12 * 3); } }
  @media (min-width: 768px) {
    .df-row .col-offset-sm-4 {
      margin-left: calc(100% / 12 * 4); } }
  @media (min-width: 768px) {
    .df-row .col-offset-sm-5 {
      margin-left: calc(100% / 12 * 5); } }
  @media (min-width: 768px) {
    .df-row .col-offset-sm-6 {
      margin-left: calc(100% / 12 * 6); } }
  @media (min-width: 768px) {
    .df-row .col-offset-sm-7 {
      margin-left: calc(100% / 12 * 7); } }
  @media (min-width: 768px) {
    .df-row .col-offset-sm-8 {
      margin-left: calc(100% / 12 * 8); } }
  @media (min-width: 768px) {
    .df-row .col-offset-sm-9 {
      margin-left: calc(100% / 12 * 9); } }
  @media (min-width: 768px) {
    .df-row .col-offset-sm-10 {
      margin-left: calc(100% / 12 * 10); } }
  @media (min-width: 768px) {
    .df-row .col-offset-sm-11 {
      margin-left: calc(100% / 12 * 11); } }
  @media (min-width: 1024px) {
    .df-row .col-md-1 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 1);
              flex: 1 0 calc(100% / 12 * 1);
      max-width: calc(100% / 12 * 1); } }
  @media (min-width: 1024px) {
    .df-row .col-md-2 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 2);
              flex: 1 0 calc(100% / 12 * 2);
      max-width: calc(100% / 12 * 2); } }
  @media (min-width: 1024px) {
    .df-row .col-md-3 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 3);
              flex: 1 0 calc(100% / 12 * 3);
      max-width: calc(100% / 12 * 3); } }
  @media (min-width: 1024px) {
    .df-row .col-md-4 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 4);
              flex: 1 0 calc(100% / 12 * 4);
      max-width: calc(100% / 12 * 4); } }
  @media (min-width: 1024px) {
    .df-row .col-md-5 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 5);
              flex: 1 0 calc(100% / 12 * 5);
      max-width: calc(100% / 12 * 5); } }
  @media (min-width: 1024px) {
    .df-row .col-md-6 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 6);
              flex: 1 0 calc(100% / 12 * 6);
      max-width: calc(100% / 12 * 6); } }
  @media (min-width: 1024px) {
    .df-row .col-md-7 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 7);
              flex: 1 0 calc(100% / 12 * 7);
      max-width: calc(100% / 12 * 7); } }
  @media (min-width: 1024px) {
    .df-row .col-md-8 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 8);
              flex: 1 0 calc(100% / 12 * 8);
      max-width: calc(100% / 12 * 8); } }
  @media (min-width: 1024px) {
    .df-row .col-md-9 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 9);
              flex: 1 0 calc(100% / 12 * 9);
      max-width: calc(100% / 12 * 9); } }
  @media (min-width: 1024px) {
    .df-row .col-md-10 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 10);
              flex: 1 0 calc(100% / 12 * 10);
      max-width: calc(100% / 12 * 10); } }
  @media (min-width: 1024px) {
    .df-row .col-md-11 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 11);
              flex: 1 0 calc(100% / 12 * 11);
      max-width: calc(100% / 12 * 11); } }
  @media (min-width: 1024px) {
    .df-row .col-md-12 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 12);
              flex: 1 0 calc(100% / 12 * 12);
      max-width: calc(100% / 12 * 12); } }
  @media (min-width: 1024px) {
    .df-row .col-offset-md-0 {
      margin-left: calc(100% / 12 * 0); } }
  @media (min-width: 1024px) {
    .df-row .col-offset-md-1 {
      margin-left: calc(100% / 12 * 1); } }
  @media (min-width: 1024px) {
    .df-row .col-offset-md-2 {
      margin-left: calc(100% / 12 * 2); } }
  @media (min-width: 1024px) {
    .df-row .col-offset-md-3 {
      margin-left: calc(100% / 12 * 3); } }
  @media (min-width: 1024px) {
    .df-row .col-offset-md-4 {
      margin-left: calc(100% / 12 * 4); } }
  @media (min-width: 1024px) {
    .df-row .col-offset-md-5 {
      margin-left: calc(100% / 12 * 5); } }
  @media (min-width: 1024px) {
    .df-row .col-offset-md-6 {
      margin-left: calc(100% / 12 * 6); } }
  @media (min-width: 1024px) {
    .df-row .col-offset-md-7 {
      margin-left: calc(100% / 12 * 7); } }
  @media (min-width: 1024px) {
    .df-row .col-offset-md-8 {
      margin-left: calc(100% / 12 * 8); } }
  @media (min-width: 1024px) {
    .df-row .col-offset-md-9 {
      margin-left: calc(100% / 12 * 9); } }
  @media (min-width: 1024px) {
    .df-row .col-offset-md-10 {
      margin-left: calc(100% / 12 * 10); } }
  @media (min-width: 1024px) {
    .df-row .col-offset-md-11 {
      margin-left: calc(100% / 12 * 11); } }
  @media (min-width: 1300px) {
    .df-row .col-lg-1 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 1);
              flex: 1 0 calc(100% / 12 * 1);
      max-width: calc(100% / 12 * 1); } }
  @media (min-width: 1300px) {
    .df-row .col-lg-2 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 2);
              flex: 1 0 calc(100% / 12 * 2);
      max-width: calc(100% / 12 * 2); } }
  @media (min-width: 1300px) {
    .df-row .col-lg-3 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 3);
              flex: 1 0 calc(100% / 12 * 3);
      max-width: calc(100% / 12 * 3); } }
  @media (min-width: 1300px) {
    .df-row .col-lg-4 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 4);
              flex: 1 0 calc(100% / 12 * 4);
      max-width: calc(100% / 12 * 4); } }
  @media (min-width: 1300px) {
    .df-row .col-lg-5 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 5);
              flex: 1 0 calc(100% / 12 * 5);
      max-width: calc(100% / 12 * 5); } }
  @media (min-width: 1300px) {
    .df-row .col-lg-6 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 6);
              flex: 1 0 calc(100% / 12 * 6);
      max-width: calc(100% / 12 * 6); } }
  @media (min-width: 1300px) {
    .df-row .col-lg-7 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 7);
              flex: 1 0 calc(100% / 12 * 7);
      max-width: calc(100% / 12 * 7); } }
  @media (min-width: 1300px) {
    .df-row .col-lg-8 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 8);
              flex: 1 0 calc(100% / 12 * 8);
      max-width: calc(100% / 12 * 8); } }
  @media (min-width: 1300px) {
    .df-row .col-lg-9 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 9);
              flex: 1 0 calc(100% / 12 * 9);
      max-width: calc(100% / 12 * 9); } }
  @media (min-width: 1300px) {
    .df-row .col-lg-10 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 10);
              flex: 1 0 calc(100% / 12 * 10);
      max-width: calc(100% / 12 * 10); } }
  @media (min-width: 1300px) {
    .df-row .col-lg-11 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 11);
              flex: 1 0 calc(100% / 12 * 11);
      max-width: calc(100% / 12 * 11); } }
  @media (min-width: 1300px) {
    .df-row .col-lg-12 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 12);
              flex: 1 0 calc(100% / 12 * 12);
      max-width: calc(100% / 12 * 12); } }
  @media (min-width: 1300px) {
    .df-row .col-offset-lg-0 {
      margin-left: calc(100% / 12 * 0); } }
  @media (min-width: 1300px) {
    .df-row .col-offset-lg-1 {
      margin-left: calc(100% / 12 * 1); } }
  @media (min-width: 1300px) {
    .df-row .col-offset-lg-2 {
      margin-left: calc(100% / 12 * 2); } }
  @media (min-width: 1300px) {
    .df-row .col-offset-lg-3 {
      margin-left: calc(100% / 12 * 3); } }
  @media (min-width: 1300px) {
    .df-row .col-offset-lg-4 {
      margin-left: calc(100% / 12 * 4); } }
  @media (min-width: 1300px) {
    .df-row .col-offset-lg-5 {
      margin-left: calc(100% / 12 * 5); } }
  @media (min-width: 1300px) {
    .df-row .col-offset-lg-6 {
      margin-left: calc(100% / 12 * 6); } }
  @media (min-width: 1300px) {
    .df-row .col-offset-lg-7 {
      margin-left: calc(100% / 12 * 7); } }
  @media (min-width: 1300px) {
    .df-row .col-offset-lg-8 {
      margin-left: calc(100% / 12 * 8); } }
  @media (min-width: 1300px) {
    .df-row .col-offset-lg-9 {
      margin-left: calc(100% / 12 * 9); } }
  @media (min-width: 1300px) {
    .df-row .col-offset-lg-10 {
      margin-left: calc(100% / 12 * 10); } }
  @media (min-width: 1300px) {
    .df-row .col-offset-lg-11 {
      margin-left: calc(100% / 12 * 11); } }
  @media (min-width: 1440px) {
    .df-row .col-xl-1 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 1);
              flex: 1 0 calc(100% / 12 * 1);
      max-width: calc(100% / 12 * 1); } }
  @media (min-width: 1440px) {
    .df-row .col-xl-2 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 2);
              flex: 1 0 calc(100% / 12 * 2);
      max-width: calc(100% / 12 * 2); } }
  @media (min-width: 1440px) {
    .df-row .col-xl-3 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 3);
              flex: 1 0 calc(100% / 12 * 3);
      max-width: calc(100% / 12 * 3); } }
  @media (min-width: 1440px) {
    .df-row .col-xl-4 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 4);
              flex: 1 0 calc(100% / 12 * 4);
      max-width: calc(100% / 12 * 4); } }
  @media (min-width: 1440px) {
    .df-row .col-xl-5 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 5);
              flex: 1 0 calc(100% / 12 * 5);
      max-width: calc(100% / 12 * 5); } }
  @media (min-width: 1440px) {
    .df-row .col-xl-6 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 6);
              flex: 1 0 calc(100% / 12 * 6);
      max-width: calc(100% / 12 * 6); } }
  @media (min-width: 1440px) {
    .df-row .col-xl-7 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 7);
              flex: 1 0 calc(100% / 12 * 7);
      max-width: calc(100% / 12 * 7); } }
  @media (min-width: 1440px) {
    .df-row .col-xl-8 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 8);
              flex: 1 0 calc(100% / 12 * 8);
      max-width: calc(100% / 12 * 8); } }
  @media (min-width: 1440px) {
    .df-row .col-xl-9 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 9);
              flex: 1 0 calc(100% / 12 * 9);
      max-width: calc(100% / 12 * 9); } }
  @media (min-width: 1440px) {
    .df-row .col-xl-10 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 10);
              flex: 1 0 calc(100% / 12 * 10);
      max-width: calc(100% / 12 * 10); } }
  @media (min-width: 1440px) {
    .df-row .col-xl-11 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 11);
              flex: 1 0 calc(100% / 12 * 11);
      max-width: calc(100% / 12 * 11); } }
  @media (min-width: 1440px) {
    .df-row .col-xl-12 {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(100% / 12 * 12);
              flex: 1 0 calc(100% / 12 * 12);
      max-width: calc(100% / 12 * 12); } }
  @media (min-width: 1440px) {
    .df-row .col-offset-xl-0 {
      margin-left: calc(100% / 12 * 0); } }
  @media (min-width: 1440px) {
    .df-row .col-offset-xl-1 {
      margin-left: calc(100% / 12 * 1); } }
  @media (min-width: 1440px) {
    .df-row .col-offset-xl-2 {
      margin-left: calc(100% / 12 * 2); } }
  @media (min-width: 1440px) {
    .df-row .col-offset-xl-3 {
      margin-left: calc(100% / 12 * 3); } }
  @media (min-width: 1440px) {
    .df-row .col-offset-xl-4 {
      margin-left: calc(100% / 12 * 4); } }
  @media (min-width: 1440px) {
    .df-row .col-offset-xl-5 {
      margin-left: calc(100% / 12 * 5); } }
  @media (min-width: 1440px) {
    .df-row .col-offset-xl-6 {
      margin-left: calc(100% / 12 * 6); } }
  @media (min-width: 1440px) {
    .df-row .col-offset-xl-7 {
      margin-left: calc(100% / 12 * 7); } }
  @media (min-width: 1440px) {
    .df-row .col-offset-xl-8 {
      margin-left: calc(100% / 12 * 8); } }
  @media (min-width: 1440px) {
    .df-row .col-offset-xl-9 {
      margin-left: calc(100% / 12 * 9); } }
  @media (min-width: 1440px) {
    .df-row .col-offset-xl-10 {
      margin-left: calc(100% / 12 * 10); } }
  @media (min-width: 1440px) {
    .df-row .col-offset-xl-11 {
      margin-left: calc(100% / 12 * 11); } }
  .df-row div[class^='col-'] {
    width: 100%; }
  @media (min-width: 768px) {
    .df-row {
      margin: 0 -20px; }
      .df-row div[class^='col'] {
        padding: 0 20px; } }

.flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.no-padd {
  padding: 0 !important; }

.pull-right {
  float: right; }
  @media (min-width: 768px) {
    .pull-right-tablet {
      float: right; } }
  @media (min-width: 1024px) {
    .pull-right-desktop {
      float: right; } }

.w-100 {
  width: 100%; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: 1px solid #999;
  padding: 0.4em 0.7em; }
  input[type='text']:focus,
  input[type='tel']:focus,
  input[type='email']:focus,
  input[type='search']:focus,
  input[type='password']:focus,
  textarea:focus {
    border-color: #333; }
  input[type='text']::-webkit-input-placeholder,
  input[type='tel']::-webkit-input-placeholder,
  input[type='email']::-webkit-input-placeholder,
  input[type='search']::-webkit-input-placeholder,
  input[type='password']::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #999; }
  input[type='text']::-moz-placeholder,
  input[type='tel']::-moz-placeholder,
  input[type='email']::-moz-placeholder,
  input[type='search']::-moz-placeholder,
  input[type='password']::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1;
    color: #999; }
  input[type='text']:-moz-placeholder,
  input[type='tel']:-moz-placeholder,
  input[type='email']:-moz-placeholder,
  input[type='search']:-moz-placeholder,
  input[type='password']:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #999; }
  input[type='text']:-ms-input-placeholder,
  input[type='tel']:-ms-input-placeholder,
  input[type='email']:-ms-input-placeholder,
  input[type='search']:-ms-input-placeholder,
  input[type='password']:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #999; }
  input[type='text'].placeholder,
  input[type='tel'].placeholder,
  input[type='email'].placeholder,
  input[type='search'].placeholder,
  input[type='password'].placeholder,
  textarea.placeholder {
    color: #999; }

select {
  -webkit-border-radius: 0; }

textarea {
  resize: vertical;
  vertical-align: top; }

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer; }

.header_action-center {
  overflow: hidden; }
  .header_action-center .s_image {
    right: 300px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%); }
  .header_action-center .menu_top {
    position: relative;
    z-index: 2; }
  .header_action-center h1 {
    max-width: 650px;
    margin: 0 auto; }

main {
  overflow: hidden; }

.content-max-md {
  max-width: 768px;
  margin: 0 auto; }

.underline-text {
  padding-bottom: 24px;
  margin: 0 0 23px;
  border-bottom: 1px solid #aebbc7; }

.page_title_and_image_cc-center h1 {
  padding-right: 40px;
  padding-left: 40px; }

.slick-arrow:hover {
  filter: brightness(0.8); }

h3 {
  font-size: 21px;
  letter-spacing: .9px;
  line-height: 30px; }
  @media (min-width: 768px) {
    h3 {
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 1px; } }

.top-line {
  padding-top: 23px;
  position: relative; }
  .top-line::before {
    width: 59px;
    height: 1px;
    content: '';
    position: absolute;
    background-color: #0a3b56;
    top: 0;
    left: 0; }

.medium_width_plus_padding {
  padding-right: 40px;
  padding-left: 40px; }

@media screen and (max-width: 991px) and (min-width: 768px) {
  .medium_width_plus_padding {
    padding-left: 3em;
    padding-right: 3em; } }

@media screen and (max-width: 767px) {
  .medium_width_plus_padding {
    padding-left: 1.5em;
    /* 1.5em = 24px */
    padding-right: 1.5em;
    /* 1.5em = 24px */ } }

.courage-gallery-section .container {
  max-width: 1130px;
  margin: 0 auto;
  padding-bottom: 55px; }

.courage-gallery-section h2 {
  margin-bottom: 22px;
  line-height: 42px; }
  @media (min-width: 1024px) {
    .courage-gallery-section h2 {
      margin-bottom: 58px; } }

.resources-section {
  position: relative; }
  .resources-section::before {
    width: 150vw;
    height: 1px;
    content: '';
    position: absolute;
    background-color: #0a3b56;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
            transform: translateX(-20%); }
  .resources-section .container {
    padding: 57px 0 26px; }
    @media (min-width: 1024px) {
      .resources-section .container {
        padding: 150px 0 26px; } }
  .resources-section .standfirst {
    text-align: center;
    max-width: 968px;
    margin: 0 auto 45px;
    padding: 0 20px; }
    @media (min-width: 1024px) {
      .resources-section .standfirst {
        margin: 0 auto 65px; } }

.climb-section {
  margin-bottom: 40px; }
  @media (min-width: 1024px) {
    .climb-section {
      margin-bottom: 197px; } }

.opportunities-section .container {
  max-width: 968px;
  margin: 0 auto; }

.opportunities-section .tabset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  padding: 0;
  margin-top: 0; }
  @media (min-width: 768px) {
    .opportunities-section .tabset {
      margin-bottom: 67px; } }
  .opportunities-section .tabset li {
    width: calc(50% - 2px);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #a4b2bf;
    -webkit-transition: border-bottom 0s;
    transition: border-bottom 0s;
    width: calc(50% - 2px);
    margin-bottom: 30px;
    line-height: 20px;
    letter-spacing: 1px; }
    @media (min-width: 1024px) {
      .opportunities-section .tabset li {
        width: calc(25% - 5px);
        margin-bottom: 0; } }
    .opportunities-section .tabset li a {
      color: #aebbc7;
      padding: 15px 18px; }
    .opportunities-section .tabset li.active {
      border-bottom: 3px solid #0094d9;
      -webkit-transition: border-bottom 0s;
      transition: border-bottom 0s; }
      .opportunities-section .tabset li.active a {
        color: #0094d9; }

.opportunities-section .tab-content {
  margin-bottom: 75px; }
  .opportunities-section .tab-content .tab {
    display: none; }
    .opportunities-section .tab-content .tab.active {
      display: block; }
  .opportunities-section .tab-content h3 {
    font-family: 'Lato'; }

.opportunities-section .underline-text:last-of-type {
  margin-bottom: 60px; }

.opportunities-section .question-start {
  font-weight: 700;
  margin-bottom: 10px; }

.opportunities-section .main-text p {
  margin: 0 0 38px 0;
  letter-spacing: .3px; }

.opportunities-section .secondary-text {
  margin-bottom: 62px; }
  .opportunities-section .secondary-text:last-of-type h5 {
    margin-bottom: 22px; }

.opportunities-section .standfirst {
  font-size: 18px;
  margin-bottom: 25px;
  letter-spacing: .5px; }
  @media (min-width: 768px) {
    .opportunities-section .standfirst {
      margin-bottom: 35px; } }
  @media (min-width: 1024px) {
    .opportunities-section .standfirst {
      font-size: 22px;
      margin-bottom: 46px; } }

.opportunities-section h5 {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #0094d9; }

.opportunities-section h3 {
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 28px; }

.opportunities-section h2 {
  letter-spacing: 1.9px;
  margin-bottom: 50px; }

.opportunities-section p {
  letter-spacing: .3px; }

.opportunities-section_planning .standfirst {
  margin-bottom: 18px;
  letter-spacing: .4px;
  line-height: 28px; }
  @media (min-width: 768px) {
    .opportunities-section_planning .standfirst {
      letter-spacing: .5px;
      line-height: 32px; } }

.opportunities-section_planning .tab-content {
  margin-bottom: 50px; }
  @media (min-width: 1024px) {
    .opportunities-section_planning .tab-content {
      margin-bottom: 144px; } }
  .opportunities-section_planning .tab-content h3 {
    letter-spacing: 2.5px; }
    @media (min-width: 768px) {
      .opportunities-section_planning .tab-content h3 {
        letter-spacing: .9px; } }

.opportunities-section_planning .main-text .standfirst {
  margin: 0 0 51px;
  letter-spacing: .4px;
  font-size: 22px; }
  @media (min-width: 768px) {
    .opportunities-section_planning .main-text .standfirst {
      margin: 0 0 15px; } }
  .opportunities-section_planning .main-text .standfirst + p {
    margin-bottom: 0; }

.opportunities-section_planning .main-text > p {
  margin-bottom: 41px; }
  @media (min-width: 768px) {
    .opportunities-section_planning .main-text > p {
      padding-right: 95px;
      margin-bottom: 64px; } }

.opportunities-section_planning .main-text .top-line {
  padding-top: 18px; }

.opportunities-section_planning h2 {
  margin-bottom: 16px;
  margin-top: 72px; }
  @media (min-width: 768px) {
    .opportunities-section_planning h2 {
      margin-top: 0;
      margin-bottom: 56px; } }

.start-courage-section {
  background: rgba(250, 250, 232, 0.5) no-repeat 50% 50%/cover;
  background-image: url("../images/pages/start-journey/gradient-bg.png");
  padding: 60px 0; }
  @media (min-width: 1024px) {
    .start-courage-section {
      padding: 171px 0 145px; } }

.text-gallery {
  padding-bottom: 65px; }
  .text-gallery__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 57px; }
    @media (min-width: 1024px) {
      .text-gallery__tabs {
        margin-bottom: 76px; } }
    .text-gallery__tabs .slick-list {
      padding: 0 45px !important;
      max-height: 84px; }
      @media (min-width: 1024px) {
        .text-gallery__tabs .slick-list {
          padding: 0 !important;
          max-height: initial;
          max-height: 71px; } }
    @media (min-width: 1024px) {
      .text-gallery__tabs .slick-track {
        width: 100% !important; } }
  .text-gallery__tab {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 84px;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 25px;
    text-align: center;
    border: 1px solid #bfc4c8;
    letter-spacing: 1.2px;
    line-height: 18px;
    color: #fff;
    cursor: pointer; }
    @media (min-width: 480px) {
      .text-gallery__tab {
        font-size: 16px; } }
    @media (min-width: 1024px) {
      .text-gallery__tab {
        width: calc(100%/3) !important;
        min-height: 70px;
        color: #aebbc7; }
        .text-gallery__tab:hover {
          background-color: rgba(174, 187, 199, 0.2);
          color: #61798e; } }
    @media (min-width: 1300px) {
      .text-gallery__tab {
        padding: 10px 40px; } }
    .text-gallery__tab:focus {
      outline: 0; }
    .text-gallery__tab.active {
      color: #aebbc7; }
    .text-gallery__tab.slick-current {
      background-color: #0094d9;
      color: #fff;
      border: 0; }
    .text-gallery__tab:first-of-type {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px; }
    .text-gallery__tab:last-of-type {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px; }
  .text-gallery__item h3 {
    font-size: 21px;
    font-weight: 400;
    letter-spacing: .9px;
    text-transform: uppercase;
    font-family: 'Lato';
    margin: 0 0 14px 0;
    text-align: center; }
    @media (min-width: 1024px) {
      .text-gallery__item h3 {
        font-size: 24px;
        text-align: left;
        letter-spacing: 1px;
        margin: 0 0 36px 0; } }
  .text-gallery__item:focus {
    outline: 0; }
  .text-gallery__text {
    letter-spacing: .3px; }
  .text-gallery__tabs-block {
    position: relative; }
    .text-gallery__tabs-block .slick-arrow {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      top: 50%;
      cursor: pointer;
      z-index: 1; }
      @media (min-width: 1024px) {
        .text-gallery__tabs-block .slick-arrow {
          display: none !important; } }
    .text-gallery__tabs-block .prev {
      left: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .text-gallery__tabs-block .next {
      right: 0;
      -webkit-transform: rotate(180deg) translate(0, 50%);
          -ms-transform: rotate(180deg) translate(0, 50%);
              transform: rotate(180deg) translate(0, 50%); }
  .text-gallery__content-block {
    position: relative; }
    .text-gallery__content-block .slick-arrow {
      position: absolute;
      top: 41%;
      cursor: pointer;
      display: none !important; }
      @media (min-width: 1024px) {
        .text-gallery__content-block .slick-arrow {
          display: block !important; } }
    .text-gallery__content-block .prev {
      left: -40px;
      -webkit-transform: translate(-100%, 0);
          -ms-transform: translate(-100%, 0);
              transform: translate(-100%, 0); }
      @media (min-width: 1300px) {
        .text-gallery__content-block .prev {
          left: -65px; } }
    .text-gallery__content-block .next {
      right: -40px;
      -webkit-transform: rotate(180deg) translate(-100%, 6px);
          -ms-transform: rotate(180deg) translate(-100%, 6px);
              transform: rotate(180deg) translate(-100%, 6px); }
      @media (min-width: 1300px) {
        .text-gallery__content-block .next {
          right: -65px; } }

.journey-invitation {
  background: #3c5165;
  background: -webkit-linear-gradient(left, #3c5165 0%, #61788d 100%);
  background: linear-gradient(to right, #3c5165 0%, #61788d 100%);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 5px; }
  .journey-invitation > div {
    width: 100%; }
    @media (min-width: 1024px) {
      .journey-invitation > div {
        width: 50%; } }
  .journey-invitation__text-block {
    padding: 35px; }
    @media (min-width: 1024px) {
      .journey-invitation__text-block {
        padding: 80px 91px; } }
    .journey-invitation__text-block h3 {
      margin-bottom: 27px;
      margin-top: 0;
      text-transform: uppercase;
      font-family: 'Lato';
      font-weight: 400;
      font-size: 21px;
      line-height: 34px;
      text-align: center;
      letter-spacing: 1px; }
      @media (min-width: 1024px) {
        .journey-invitation__text-block h3 {
          text-align: left;
          font-size: 24px; } }
    .journey-invitation__text-block p {
      margin-bottom: 37px;
      letter-spacing: .3px; }
  .journey-invitation__image-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding: 35px 0; }
    @media (min-width: 1024px) {
      .journey-invitation__image-block {
        padding: 0; } }
    .journey-invitation__image-block::before {
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      background-color: rgba(84, 104, 120, 0.15);
      mix-blend-mode: multiply; }
    .journey-invitation__image-block img {
      position: relative;
      z-index: 1;
      max-width: 85%; }
  .journey-invitation__btn {
    text-align: center; }
    @media (min-width: 1024px) {
      .journey-invitation__btn {
        text-align: left; } }

.ladder {
  background-color: #fafae8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 5px; }
  .ladder > div {
    width: 100%; }
    @media (min-width: 1024px) {
      .ladder > div {
        width: 50%; } }
  .ladder__text-block {
    padding: 40px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (min-width: 1024px) {
      .ladder__text-block {
        padding: 20px 91px; } }
  .ladder__image-block {
    padding: 35px 20px;
    position: relative;
    text-align: center; }
    @media (min-width: 1024px) {
      .ladder__image-block {
        padding: 93px 50px 60px; } }
    .ladder__image-block::before {
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      background-color: rgba(250, 250, 232, 0.42);
      mix-blend-mode: multiply;
      top: 0;
      left: 0; }
    .ladder__image-block img {
      max-width: 100%; }
  .ladder__btn {
    width: 100%;
    text-align: center; }
    @media (min-width: 1024px) {
      .ladder__btn {
        text-align: left; } }
  .ladder h3 {
    text-transform: uppercase;
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1px; }
    @media (min-width: 1024px) {
      .ladder h3 {
        text-align: left;
        margin-bottom: 34px; } }
  .ladder p {
    margin-top: 0;
    margin-bottom: 40px;
    letter-spacing: .3px; }

.dotted-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 19px; }
  .dotted-list li {
    position: relative;
    padding-left: 33px;
    letter-spacing: .3px; }
    .dotted-list li:not(:last-of-type) {
      margin-bottom: 7px; }
    .dotted-list li::before {
      width: 6px;
      height: 6px;
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      background-color: #0094d9; }

a.btn {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 36px;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  line-height: 1.2; }
  a.btn_primary {
    background-color: #0094d9;
    color: #fff; }
    a.btn_primary:hover {
      background-color: #66bfe8;
      color: #fff; }
  a.btn_secondary {
    background-color: #fff;
    color: #0a3b56; }
    a.btn_secondary:hover {
      background-color: #66bfe8;
      color: #fff; }
  a.btn_icon {
    padding-right: 60px;
    position: relative; }
    a.btn_icon img {
      position: absolute;
      right: 32px; }

.wcai-start {
  padding: 30px 20px;
  border: 1px solid #aebbc7;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 80px; }
  @media (min-width: 480px) {
    .wcai-start {
      padding: 74px 59px 82px; } }
  @media (min-width: 768px) {
    .wcai-start {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  @media (min-width: 1024px) {
    .wcai-start {
      margin-bottom: 152px; } }
  .wcai-start__block:nth-of-type(1) {
    width: 100%; }
    @media (min-width: 768px) {
      .wcai-start__block:nth-of-type(1) {
        width: 80%; } }
    @media (min-width: 1024px) {
      .wcai-start__block:nth-of-type(1) {
        width: 63%; } }
  .wcai-start__block:nth-of-type(2) {
    width: 30%;
    position: relative;
    left: 76%;
    top: -55px; }
    @media (min-width: 480px) {
      .wcai-start__block:nth-of-type(2) {
        top: -100px; } }
    @media (min-width: 768px) {
      .wcai-start__block:nth-of-type(2) {
        width: 37%;
        left: 90px;
        top: -40px; } }
    .wcai-start__block:nth-of-type(2) img {
      position: absolute;
      width: 100%; }
      @media (min-width: 1024px) {
        .wcai-start__block:nth-of-type(2) img {
          width: auto; } }
  .wcai-start__block h3 {
    font-family: 'Lato';
    text-transform: uppercase;
    margin: 0 0 7px 0; }
  .wcai-start__block p {
    margin-top: 0;
    margin-bottom: 27px;
    letter-spacing: .3px; }

.guide-block {
  background-color: #0094d9;
  color: #fff;
  padding: 50px 0 200px; }
  @media (min-width: 1300px) {
    .guide-block {
      padding: 93px 0 200px; } }
  .guide-block__content {
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
    position: relative; }
    .guide-block__content p {
      margin: 0 0 37px;
      letter-spacing: .3px; }
  .guide-block__image {
    position: absolute;
    top: calc(100% + 25px);
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    @media (min-width: 1300px) {
      .guide-block__image {
        top: -17px;
        left: -49px;
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%); }
        .guide-block__image img {
          max-width: initial; } }
    .guide-block__image img {
      max-width: 140px; }
      @media (min-width: 1300px) {
        .guide-block__image img {
          max-width: initial; } }
  .guide-block h3 {
    text-transform: uppercase;
    font-family: 'Lato';
    margin: 0 0 9px; }

.accordion-block {
  margin-top: 41px; }
  @media (min-width: 768px) {
    .accordion-block {
      margin-top: 61px; } }
  .accordion-block__heading {
    font-size: 13px;
    font-family: 'Lato';
    line-height: 18px;
    font-weight: 400;
    color: #0a3b56;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 21px;
    letter-spacing: 1px; }
  .accordion-block__item {
    border-bottom: 1px solid #a4b2bf; }
    .accordion-block__item:first-of-type {
      border-top: 1px solid #a4b2bf; }
  .accordion-block__title {
    min-height: 67px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 11px 14px 15px;
    cursor: pointer; }
    @media (min-width: 768px) {
      .accordion-block__title {
        padding: 12px 20px 14px 15px; } }
    .accordion-block__title span {
      font-size: 16px;
      line-height: 21px;
      font-weight: 700;
      font-family: 'Lato';
      text-transform: uppercase;
      color: #0094d9;
      padding-right: 10px;
      letter-spacing: -.1px; }
      @media (min-width: 768px) {
        .accordion-block__title span {
          letter-spacing: 1.2px;
          padding-right: 20px; } }
    .accordion-block__title.open .accordion-block__icon::after {
      content: none; }
  .accordion-block__icon {
    width: 17px;
    height: 17px;
    min-width: 17px;
    position: relative; }
    @media (min-width: 768px) {
      .accordion-block__icon {
        width: 21px;
        height: 21px;
        min-width: 21px; } }
    .accordion-block__icon::before {
      width: 100%;
      height: 3px;
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      background-color: #0094d9;
      border-radius: 5px; }
    .accordion-block__icon::after {
      width: 3px;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      background-color: #0094d9;
      border-radius: 5px; }
  .accordion-block__content {
    display: none;
    padding: 0 55px 27px 15px; }
    .accordion-block__content .short-text {
      max-height: 176px;
      overflow: hidden; }
    .accordion-block__content p {
      font-size: 14px;
      line-height: 22px;
      margin-top: 0; }
  .accordion-block__btn {
    font-size: 12px;
    font-weight: 700;
    color: #61798e;
    text-transform: uppercase;
    padding: 5px 12px;
    line-height: 1.2;
    border: 1px solid #a4b2bf;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer; }
  .accordion-block .col-md-6:nth-of-type(1) {
    margin-bottom: 73px; }
    @media (min-width: 1024px) {
      .accordion-block .col-md-6:nth-of-type(1) {
        margin-bottom: 0; } }

.navigation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }
  .navigation-item-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px; }
    .navigation-item-block .col {
      width: 50%; }
      .navigation-item-block .col:nth-of-type(1) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        width: 0; }
        @media (min-width: 768px) {
          .navigation-item-block .col:nth-of-type(1) {
            width: 50%; } }
      .navigation-item-block .col:nth-of-type(2) {
        width: 100%; }
        @media (min-width: 768px) {
          .navigation-item-block .col:nth-of-type(2) {
            width: 50%; } }
  .navigation-item__direction {
    text-transform: uppercase;
    font-size: 13px;
    color: #0094d9;
    letter-spacing: 1px; }
  .navigation-item span {
    display: inline-block;
    padding-left: 15px;
    padding-right: 12px;
    font-size: 13px;
    color: #0a3b56;
    letter-spacing: .2px; }
  .navigation-item_prev {
    padding-right: 24px;
    display: none; }
    @media (min-width: 768px) {
      .navigation-item_prev {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    .navigation-item_prev .navigation-item__icon {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    .navigation-item_prev span {
      padding-left: 12px; }
  .navigation-item_next {
    padding-left: 18px;
    padding-right: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media (min-width: 768px) {
      .navigation-item_next {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: initial;
            -ms-flex-pack: initial;
                justify-content: initial;
        padding-right: 14px; } }
    .navigation-item_next span {
      padding-left: 10px; }

.start-courage {
  padding: 50px 20px;
  max-width: 606px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  position: relative; }
  @media (min-width: 768px) {
    .start-courage {
      padding: 50px 70px; } }
  @media (min-width: 1024px) {
    .start-courage {
      padding: 100px; } }
  .start-courage__heading {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #0a3b56;
    margin-top: 0;
    margin-bottom: 28px;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .start-courage__text {
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 36px;
    letter-spacing: .9px; }
  .start-courage__image-block {
    position: absolute;
    top: -70px;
    right: -195px;
    display: none; }
    @media (min-width: 768px) {
      .start-courage__image-block {
        display: block; } }
    @media (min-width: 1024px) {
      .start-courage__image-block {
        top: -240px;
        right: -263px; } }
    .start-courage__image-block img {
      mix-blend-mode: multiply;
      max-width: 60%; }
      @media (min-width: 1024px) {
        .start-courage__image-block img {
          max-width: 100%; } }
/*# sourceMappingURL=main.css.map */