main {
	overflow: hidden;
}

.content-max-md {
	max-width: 768px;
	margin: 0 auto;
}

.underline-text {
	padding-bottom: 22px;
	border-bottom: 1px solid $gray-200;
}

.page_title_and_image {
	&_cc-center {
		h1 {
			padding-right: 40px;
			padding-left: 40px;
		}
	}
}

.slick-arrow {
	@extend %transition;

	&:hover {
		@extend %transition;
		filter: brightness(.8);
	}
}