main {
	overflow: hidden;
}

.content-max-md {
	max-width: 768px;
	margin: 0 auto;
}

.underline-text {
	padding-bottom: 22px;
	border-bottom: 1px solid $gray-200;
}

.page_title_and_image {
	&_cc-center {
		h1 {
			padding-right: 40px;
			padding-left: 40px;
		}
	}
}

.slick-arrow {
	@extend %transition;

	&:hover {
		@extend %transition;
		filter: brightness(.8);
	}
}

h3 {
	font-size: 21px;
	letter-spacing: .9px;
	line-height: 30px;

	@include media ('>=tablet') {
		font-size: 24px;
		line-height: 34px;
		letter-spacing: 1px;
	}
}

.top-line {
	padding-top: 23px;
	position: relative;

	&::before {
		@include size(59px, 1px);
		content: '';
		position: absolute;
		background-color: $blue-200;
		top: 0;
		left: 0;
	}
}