body {
	min-width: 320px;
	padding-bottom: 0;
}

main {
	overflow: hidden;
}

.content-max-md {
	max-width: 768px;
	margin: 0 auto;
}

.underline-text {
	padding-bottom: 25px;
	margin: 0 0 23px;
	border-bottom: 1px solid $gray-200;
}

.page_title_and_image {
	

	h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		padding-top: 0 !important;
		transform: translate(-50%, -50%);
		width: 100%;
	}

	&_cc-center {
		h1 {
			@include media ('>=tablet') {
				padding-right: 90px;
				padding-left: 90px;
			}
		}
	}
}

.slick-arrow {
	@extend %transition;

	&:hover {
		@extend %transition;
		filter: brightness(.8);
	}
}

h2 {
	letter-spacing: .4px;
}

h3 {
	font-size: 21px;
	letter-spacing: .9px;
	line-height: 30px;

	@include media ('>=tablet') {
		font-size: 24px;
		line-height: 34px;
		letter-spacing: 1px;
	}
}

.top-line {
	padding-top: 23px;
	position: relative;

	&::before {
		@include size(59px, 1px);
		content: '';
		position: absolute;
		background-color: $blue-200;
		top: 0;
		left: 0;
	}
}

//copy styles with less padding to get 970px blocks (it was 930px somehow)

.medium_width_plus_padding {
	padding-right: 40px;
	padding-left: 40px;
}

@media screen and
(max-width: 991px) and
(min-width: 768px) {
	.medium_width_plus_padding {
		padding-left: 3em;
		padding-right: 3em;
	}
}

@media screen and
(max-width: 767px) {
	.medium_width_plus_padding {
		padding-left: 1.5em; /* 1.5em = 24px */
		padding-right: 1.5em; /* 1.5em = 24px */
	}
}

.book-page {
	h1 {
		letter-spacing: .58px;
	}

	.header_action-center .s_image {
		right: 218px;
		bottom: 70px;
	}

	.page_title_and_image  {
		.s_image {
			
			@include media ('<=tablet') {
				right: -78px;
				width: 50%;
			}

			img {
				@include media ('<=tablet') {
					width: 78%;
				}
			}
		}

		h1 {
			padding-top: 112px;
		}
	}

	.main-courage {
		padding: 90px 0 100px;
		position: relative;

		@include media ('>=desktop') {
			padding: 157px 0 200px;
		}

		.standfirst {
			margin-bottom: 20px;

			@include media ('>=desktop') {
				margin-bottom: 40px;
			}
		}

		&__text {
			margin-bottom: 24px;
		}
		
		&__bold-italic {
			font-weight: 700;
			font-style: italic;
		}

		.col {
			&:nth-of-type(2) {
				margin-top: 20px;

				@include media ('>=desktop') {
					margin-top: -29px;
				}
			}
		}
	}

	.start-courage {
		padding: 50px 50px 50px;

		@include media ('>=tablet') {
			padding: 93px 100px 95px;
		}

		@include media ('>=desktop') {
			position: static;
		}

		&__text {
			position: relative;
			z-index: 1;
		}

		

		.start-courage__image-block {
			
			display: none;

			@include media ('>=tablet') {
				font-size: 24px;
				line-height: 34px;
				letter-spacing: 1px;
				display: block;
				top: 72px;
				right: -136px;
			}

			@include media ('>=desktop') {
				top: 100%;
				right: 0;
				transform: translateY(-100%);
			}

			@include media ('>=widescreen') {
				top: calc(100% - 35px);
				right: 0;
				transform: translateY(-100%);
			}

			img {
				position: static;
			}
		}
	}
}

.articles-page {
	h1 {
		letter-spacing: .58px;
	}

	.opportunities-section {
		h2 {
			text-align: center;
		}
	}

	.navigation-item-block {
		justify-content: flex-end;

		.col {
			width: 56px !important;
		}

		.navigation-item {
			padding: 0 !important;

			&_prev {
				display: flex;
				justify-content: end;

				span {
					padding-left: 20px;
				}
			}

			&_next {
				display: flex;
				justify-content: flex-end;
				
				span {
					padding-right: 20px;
				}
			}

			&_middle {
				display: flex;
				justify-content: center;

				span {
					padding: 0 10px;
				}
			}

			&.active {
				span {
					color: $blue-100;
				}	
			}
		}
	}

	.header_action-center .s_image {
		right: 218px;
		bottom: 70px;
	}

	.page_title_and_image h1 {
		padding-top: 112px;
	}

	.main-courage {
		padding: 90px 0 100px;
		position: relative;

		@include media ('>=desktop') {
			padding: 157px 0 200px;
		}

		.standfirst {
			margin-bottom: 20px;

			@include media ('>=desktop') {
				margin-bottom: 40px;
			}
		}

		&__text {
			margin-bottom: 24px;
		}
		
		&__bold-italic {
			font-weight: 700;
			font-style: italic;
		}

		.col {
			&:nth-of-type(2) {
				margin-top: 20px;

				@include media ('>=desktop') {
					margin-top: -29px;
				}
			}
		}
	}

	.start-courage {
		padding: 50px 50px 50px;

		@include media ('>=tablet') {
			padding: 93px 100px 95px;
		}

		@include media ('>=desktop') {
			position: static;
		}

		&__text {
			position: relative;
			z-index: 1;
		}

		

		.start-courage__image-block {
			
			display: none;

			@include media ('>=tablet') {
				font-size: 24px;
				line-height: 34px;
				letter-spacing: 1px;
				display: block;
				top: 72px;
				right: -136px;
			}

			@include media ('>=desktop') {
				top: 100%;
				right: 0;
				transform: translateY(-100%);
			}

			@include media ('>=widescreen') {
				top: calc(100% - 35px);
				right: 0;
				transform: translateY(-100%);
			}

			img {
				position: static;
			}
		}
	}
}

.breadcrumb {
	ol {
		li {
			a {
				letter-spacing: .28px;
			}

			&:last-of-type {
				a {
					color: $blue-200;
				}
			}
		}
	}
}

.standfirst {
	letter-spacing: .44px;
}

.competent_sec {
	margin-bottom: 40px;
	overflow: hidden;
}

.latest_blog {
	padding-top: 80px;
}

footer {
	@include media ('<=991px') {
		margin-top: 0;
	}
}

.article-intro {
	padding-bottom: 130px;

	h2 {
		font-size: 34px;
		text-align: center
	}
}

.links_w_small_images {
	a {
		@extend %transition;
		color: $blue-100;

		&:hover {
			@extend %transition;
			color: $blue-600;
		}
	}
}

.bold {
	font-weight: 700;
}

.text-align-center {
	text-align: center;
}


#contact_page {
	@include media ('<=tablet') {
		.page_title_and_image {
			.s_image {
				bottom: 37px;
				right: -23px;
				width: 32%;
	
				img {
					width: 100%;
				}
			}
		}
	}

	@include media ('<=phone') {
		.page_title_and_image {
			.s_image {
				bottom: 25px;
				width: 35%;
				max-width: 140px;
			}
		}
	}
}