.header {
	&_action-center {
		overflow: hidden;

		.s_image {
			right: 300px;
    		transform: translateX(100%);
		}

		.menu_top {
			position: relative;
    		z-index: 2;
		}

		h1 {
			max-width: 690px;
			margin: 0 auto;
		}
	}

	&_brands {
		padding-top: 25px;

		@include media ('>=tablet') {
			padding-top: 50px;
		}
	}
}