.header {
	&_action-center {
		overflow: hidden;

		.s_image {
			right: 308px;
			bottom: -33px;
			transform: translateX(100%);
			
			img {
				width: 78%;
			}
		}

		.menu_top {
			position: relative;
    		z-index: 2;
		}

		h1 {
			margin: 0 auto;
		}
	}

	&_brands {
		padding-top: 25px;

		@include media ('>=tablet') {
			padding-top: 50px;
		}
	}
}