.message-section {
	background: linear-gradient(to right, $blue-400 0%, $blue-500 100%);
	padding: 125px 0 103px;

	@include media ('>=desktop') {
		padding: 90px 0;
	}

	&__text {
		font-size: 24px;
		line-height: 1.416em;
		color: $white;
		position: relative;
		letter-spacing: .9px;
		text-align: center;
		
		
		// ideally replace both these includes with @include media ('<=phone')
		@include media ('<=phone') {
			font-size: 26px;
		}

		@include media ('>=tablet') {
			font-size: 24px;		}
		
		&::before {
			content:"\201C";
		}
		
		&::after {
			content: "\201D";
		}
	}
}