.message-section {
	background: linear-gradient(to right, $blue-400 0%, $blue-500 100%);
	padding: 125px 0 103px;

	@include media ('>=desktop') {
		padding: 90px 0;
	}

	&__text {
		font-size: 22px;
		line-height: 1.2;
		color: $white;
		position: relative;
		letter-spacing: .9px;
		text-align: center;

		@include media ('>=phone') {
			font-size: 26px;
		}

		@include media ('>=tablet') {
			font-size: 32px;
		}

		
		
		&::before, &::after {
			content: '\0022';
		}
	}
}