.opportunities-section {

	.container {
		max-width: 968px;
		margin: 0 auto;
	}

	.tabset {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 30px;
		padding: 0;
		margin-top: 0;

		@include media ('>=tablet') {
			margin-bottom: 70px;
		}

		li {
			width: calc(50% - 2px);
			text-align: center;
			padding: 10px 23px;
			font-weight: 700;
			text-transform: uppercase;
			display: flex;
			justify-content: center;
			align-items: center;
			border-bottom: 1px solid $gray-300;
			transition:border-bottom 0s;
			width: calc(50% - 2px);
			margin-bottom: 30px;

			@include media ('>=desktop') {
				width: calc(25% - 5px);
				margin-bottom: 0;
			}
			
			a {
				color: $gray-200;
			}

			&.active {
				border-bottom: 3px solid $blue-100;
				transition:border-bottom 0s;

				a {
					color: $blue-100;
				}
			}
		}
	}

	.tab-content {
		.tab {
			display: none;

			&.active {
				display: block;
			}
		}

		h3 {
			font-family: 'Lato';
		}
	}

	.underline-text {
		&:last-of-type {
			margin-bottom: 60px;
		}
	}

	.question-start {
		font-weight: 700;
		margin-bottom: 7px;
	}

	.main-text {
		p {
			margin: 0 0 45px 0;
		}
	}

	.secondary-text {
		margin-bottom: 62px;
	}

	.standfirst {
		font-size: 18px;
		margin-bottom: 25px;

		@include media ('>=tablet') {
			margin-bottom: 35px;
		}

		@include media ('>=desktop') {
			font-size: 22px;
			margin-bottom: 55px;
		}
	}

	h5 {
		margin-top: 0;
		margin-bottom: 22px;
		font-family: 'Lato';
		font-weight: 700;
		text-transform: uppercase;
		color: $blue-100;
	}

	h3 {
		margin-top: 0;
		text-transform: uppercase;
	}
}