.resources-section {
	position: relative;

	&::before {
		@include size(150vw, 1px);
		content: '';
		position: absolute;
		background-color: $blue-200;
		top: 0;
		left: 0;
    	transform: translateX(-20%);
	}

	.container {
		padding: 57px 0 26px;

		@include media ('>=desktop') {
			padding: 150px 0 26px;
		}
	}

	.standfirst {
		text-align: center;
		max-width: 968px;
		margin: 0 auto 45px;

		@include media ('>=desktop') {
			margin: 0 auto 62px;
		}
	}

	h2 {
		line-height: 42px;
		@include media ('>=tablet') {
			line-height: 50px;
		}
	}

	h3 {
		letter-spacing: .8px;
	}
}