.about-intro {
	margin-bottom: 50px;

	@include media ('>=tablet') {
		margin-bottom: 150px;
	}

	h2.section_title {
		text-align: left;
	}

	.grey_box {
		margin-top: 50px;

		.small_heading {
			letter-spacing: 0.5px;
			line-height: 1.5;
		}
		
		@include media ('<=desktop') {
			padding: 20px;
		}
	}

	.links_w_small_images {
		@include media ('<=desktop') {
			margin-bottom: 10px;
		}
	}

	.details_about_jim {
		@include media ('<=desktop') {
			max-width: 562px;
			margin: 0 auto;
		}
	}

	.sbar_img {
		img {
			@include media ('<=desktop') {
				width: 100%;
			}
		}
	}

}

#about_page {
	.content_width_plus_padding {
		overflow: hidden;
	}

	.page_title_and_image {
		.s_image {
			bottom: -18px;
			right: -80px;
			
			@include media ('<=tablet') {
				display: none;
			}
/*
				Old CMC ... despite label not showing even on their version
			@include media ('<=tablet') {
				right: -165px;
			}
			*/

			img {
				height: 387px;
				
/*
				Old CMC ... despite label not showing even on their version
				@include media ('<=tablet') {
					height: auto !important;
					width: 55%;
				}
*/
			}
		}

		h1 {
			padding-top: 113px;
		}
	}

	.sidebar_and_content {
		flex-direction: column-reverse;
		
		@include media ('>=desktop') {
			flex-direction: row-reverse;
		}
	}

	.gutter_for_sidebar {
		@include media ('<=desktop') {
			flex-basis: 60px;
		}
	}

	.main-courage {
		padding: 90px 0 100px;
		position: relative;

		@include media ('>=desktop') {
			padding: 157px 0 200px;
		}

		.standfirst {
			margin-bottom: 20px;

			@include media ('>=desktop') {
				margin-bottom: 40px;
			}
		}

		&__text {
			margin-bottom: 24px;
		}
		
		&__bold-italic {
			font-weight: 700;
			font-style: italic;
		}

		.col {
			&:nth-of-type(2) {
				margin-top: 20px;

				@include media ('>=desktop') {
					margin-top: -29px;
				}
			}
		}
	}

	.start-courage {
		padding: 50px 50px 50px;

		@include media ('>=tablet') {
			padding: 93px 100px 95px;
		}

		@include media ('>=desktop') {
			position: static;
		}

		&__text {
			position: relative;
			z-index: 1;
		}

		

		.start-courage__image-block {
			display: none;

			@include media ('>=tablet') {
				font-size: 24px;
				line-height: 34px;
				letter-spacing: 1px;
				display: block;
				top: 72px;
				right: -136px;
			}

			@include media ('>=desktop') {
				top: 100%;
				right: 0;
				transform: translateY(-100%);
			}

			@include media ('>=widescreen') {
				top: calc(100% - 35px);
				right: 0;
				transform: translateY(-100%);
			}

			img {
				position: static;
			}
		}
	}

	.resources-section {
		.container {
			@include media ('>desktop') {
				padding: 150px 0 113px;
			}
		}
	}
}