.article {
	list-style: none;
	margin: 0;
	padding: 0;

	&__item {
		border-bottom: 1px solid $gray-300;
		padding-bottom: 24px;

		&:not(:last-of-type) {
			margin-bottom: 42px;
		}
	}

	&__top {
		font-size: 13px;
		text-transform: uppercase;
		color: $blue-200;
		letter-spacing: 1.08px;
	}

	&__time {
		padding-left: 5px;
	}

	&__heading {
		position: relative;
		margin: 12px 20px 20px 0;

		i {
			position: absolute;
			font-size: 16px;
			right: 0;
			top: 0;

			&::before {
				@extend %transition;
				color: $gray-200;
			}
		}
		
		a {
			padding-right: 30px;
			font-size: 22px;
			color: $black;
			display: block;

			@include media ('>=tablet') {
				padding-right: 45px;
			}

			&:hover {
				i {
					&::before {
						@extend %transition;
						color: $blue-100;
					}
				}
			}
		}
	}

	p {
		letter-spacing: .4px;
	}
}