a.btn {
		@extend %transition;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 15px 36px;
		display: inline-block;
		border-radius: 4px;
		text-align: center;
		line-height: 1.2;
	
	&_primary {
		background-color: $blue-100;
		color: $white;

		&:hover {
			@extend %transition;
			background-color: $blue-600;
			color: $white;
		}
	}

	&_secondary {
		background-color: $white;
		color: $blue-200;

		&:hover {
			@extend %transition;
			background-color: $blue-600;
			color: $white;
		}
	}
}