.dotted-list {
	padding: 0;
    margin: 0;
    list-style: none;
	margin-bottom: 19px;
	
	li {
		position: relative;
		padding-left: 46px;
		letter-spacing: .3px;

		@include media ('>=tablet') {
			padding-left: 33px;
		}

		&:not(:last-of-type) {
			margin-bottom: 7px;
		}

		&::before {
			@include size(6px);
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-color: $blue-100;
		}
	}
}