.guide-block {
	background-color: $blue-100;
	color: $white;
	padding: 50px 0 200px;

	@include media ('>=widescreen') {
		padding: 93px 0 200px;
	}

	&_curriculum {
		padding: 50px 0 30px;

		@include media ('>=widescreen') {
			padding: 93px 0 99px;
		}

		.guide-block__content {
			position: relative;

			h3 {
				margin: 0px 0 27px;
			}

			.guide-block__image {
				width: 300px;
				right: -131px;
				left: 0;
				top: 38px;
				transform: translateX(0);
				margin: 0 auto;
				position: relative;

				@include media ('>=desktop') {
					position: absolute;
					left: 60px;
					top: -33px;
					transform: translateX(-100%);
					margin: unset;
				}

				@include media ('>=widescreen') {
					left: 0;
				}
				
				img {
					max-width: 40%;

					@include media ('>=desktop') {
						max-width: 80%
					}

					@include media ('>=widescreen') {
						max-width: 300px;
					}
				}
			}
		}
	}

	&_assessments {
		padding: 50px 0 30px;

		@include media ('>=widescreen') {
			padding: 93px 0 75px;
		}

		.guide-block__content {
			position: relative;
			max-width: 766px;

			.btn {
				margin-bottom: 40px;
			}

			p {
				font-size: 18px;

				@include media ('>=tablet') {
					font-size: 22px;
				}
			}

			h3 {
				margin: 0px 0 27px;
			}

			.guide-block__image {
				right: -131px;
				left: unset;
				top: -145px;
				transform: translate(0);
				position: static;

				@include media ('>=desktop') {
					position: absolute;
				}
				
				img {
					max-width: 40%;

					@include media ('>=desktop') {
						max-width: 300px;
					}
				}
			}

			// &::before {
			// 	@include size(290px, 280px);
			// 	content: '';
			// 	position: absolute;
			// 	background-image: url("../images/pages/planning journey/laptop.png");
				

			// 	@include media ('<=desktop') {
			// 		content: none;
			// 	}
			// }
		}
	}

	&_planning {
		padding: 220px 0 50px;

		@include media ('>=widescreen') {
			padding: 93px 0 200px;
		}

		.guide-block__image {
			transform: translate(-50%, -100%);
			top: -20px;

			@include media ('>=widescreen') {
				transform: translate(-100%, 0);
			}
		}
	}

	&__content {
		max-width: 570px;
		margin: 0 auto;
		text-align: center;
		position: relative;

		p {
			margin: 0 0 37px;
			letter-spacing: .3px;
		}
	}

	&__image {
		position: absolute;
		top: calc(100% + 25px);
		left: 50%;
		transform: translateX(-50%);

		@include media ('>=widescreen') {
			top: -17px;
    		left: -49px;
			transform: translateX(-100%);

			img {
				max-width: initial;
			}
		}

		img {
			max-width: 140px;

			@include media ('>=widescreen') {
				max-width: initial;
			}
		}
	}

	h3 {
		text-transform: uppercase;
		font-family: 'Lato';
		margin: 0 0 9px;
	}
}