.guide-block {
	background-color: $blue-100;
	color: $white;
	padding: 93px 0 200px;

	&__content {
		max-width: 570px;
		margin: 0 auto;
		text-align: center;
		position: relative;

		p {
			margin: 0 0 37px;
		}
	}

	&__image {
		position: absolute;
		top: -23px;
		left: -62px;
		transform: translateX(-100%);
	}

	h3 {
		text-transform: uppercase;
		font-family: 'Lato';
		margin: 0 0 15px;
	}
}