.tab-image {
	margin: 0 auto;

	&__block {
		@include size(122px, 108px);
		margin: 0 auto 35px;

		.image-chat {
			@include size(122px, 107px);
			background-image: image-set(
				url(../images/pages/start-journey/chat-icon.png) 1x,
				url(../images/pages/start-journey/chat-icon@2x.png) 2x
			);
		}

		.image-choose {
			@include size(122px, 108px);
			background-image: image-set(
				url(../images/pages/start-journey/choose-icon.png) 1x,
				url(../images/pages/start-journey/choose-icon@2x.png) 2x
			);
		}

		.image-time {
			@include size(82px, 108px);
			background-image: image-set(
				url(../images/pages/start-journey/time-icon.png) 1x,
				url(../images/pages/start-journey/time-icon@2x.png) 2x
			);
		}

		.image-way {
			@include size(93px, 108px);
			background-image: image-set(
				url(../images/pages/start-journey/way-icon.png) 1x,
				url(../images/pages/start-journey/way-icon@2x.png) 2x
			);
		}
	}
}

.tabset {
	&_images {
		li:hover {
			.image-chat {
				@include size(122px, 107px);
				background-image: image-set(
					url(../images/pages/start-journey/chat-icon-hover.png) 1x,
					url(../images/pages/start-journey/chat-icon-hover@2x.png) 2x
				);
			}

			.image-choose {
				@include size(122px, 108px);
				background-image: image-set(
					url(../images/pages/start-journey/choose-icon-hover.png) 1x,
					url(../images/pages/start-journey/choose-icon-hover@2x.png) 2x
				);
			}

			.image-time {
				@include size(82px, 108px);
				background-image: image-set(
					url(../images/pages/start-journey/time-icon-hover.png) 1x,
					url(../images/pages/start-journey/time-icon-hover@2x.png) 2x
				);
			}

			.image-way {
				@include size(93px, 108px);
				background-image: image-set(
					url(../images/pages/start-journey/way-icon-hover.png) 1x,
					url(../images/pages/start-journey/way-icon-hover@2x.png) 2x
				);
			}
		}

		li.active {
			.image-chat {
				@include size(122px, 107px);
				background-image: image-set(
					url(../images/pages/start-journey/chat-icon-active.png) 1x,
					url(../images/pages/start-journey/chat-icon-active@2x.png) 2x
				);
			}

			.image-choose {
				@include size(122px, 108px);
				background-image: image-set(
					url(../images/pages/start-journey/choose-icon-active.png) 1x,
					url(../images/pages/start-journey/choose-icon-active@2x.png) 2x
				);
			}

			.image-time {
				@include size(82px, 108px);
				background-image: image-set(
					url(../images/pages/start-journey/time-icon-active.png) 1x,
					url(../images/pages/start-journey/time-icon-active@2x.png) 2x
				);
			}

			.image-way {
				@include size(93px, 108px);
				background-image: image-set(
					url(../images/pages/start-journey/way-icon-active.png) 1x,
					url(../images/pages/start-journey/way-icon-active@2x.png) 2x
				);
			}
		}
	}
}
