.tab-image {
	margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

	&__block {
		@include size(122px, 108px);
		margin: 0 auto 20px;

		@include media ('>=tablet') {
			margin: 0 auto 35px;
		}

		.image-chat {
			@include size(122px, 107px);

			background-image: url(../images/pages/start-journey/chat-icon.png);
		}

		.image-choose {
			@include size(122px, 108px);

			background-image: url(../images/pages/start-journey/choose-icon.png);
		}

		.image-time {
			@include size(82px, 108px);

			background-image: url(../images/pages/start-journey/time-icon.png);
		}

		.image-way {
			@include size(93px, 108px);
			
			background-image: url(../images/pages/start-journey/way-icon.png);
		}
	}
}

.tabset {
	&_images {
		li:hover {

			span {
				color: $blue-700
			}
			
			.image-chat {
				@include size(122px, 107px);

				background-image: url(../images/pages/start-journey/chat-icon-hover.png);
			}

			.image-choose {
				@include size(122px, 108px);

				background-image: url(../images/pages/start-journey/choose-icon-hover.png);
			}

			.image-time {
				@include size(82px, 108px);

				background-image: url(../images/pages/start-journey/time-icon-hover.png);
			}

			.image-way {
				@include size(93px, 108px);

				background-image: url(../images/pages/start-journey/way-icon-hover.png);
			}
		}

		li.active {
			.image-chat {
				@include size(122px, 107px);

				background-image: url(../images/pages/start-journey/chat-icon-active.png);
			}

			.image-choose {
				@include size(122px, 108px);

				background-image: url(../images/pages/start-journey/choose-icon-active.png);
			}

			.image-time {
				@include size(82px, 108px);
				
				background-image: url(../images/pages/start-journey/time-icon-active.png);
			}

			.image-way {
				@include size(93px, 108px);

				background-image: url(../images/pages/start-journey/way-icon-active.png);
			}
		}
	}
}
