.wcai-start {
	padding: 74px 59px 81px;
	border: 1px solid $gray-200;
	border-radius: 5px;
	display: flex;
	margin-bottom: 152px;

	&__block {
		&:nth-of-type(1) {
			width: 63%;
		}

		&:nth-of-type(2) {
			width: 37%;
			position: relative;
			left: 90px;
			top: -40px;

			img {
				position: absolute;
			}
		}

		h3 {
			font-family: 'Lato';
			text-transform: uppercase;
			margin: 0 0 15px 0;
		}

		p {
			margin-bottom: 25px;
		}
	}
}